version: "3.7"

services:
  view:
    image: mongo-express
    ports:
      - 4001:8081
    environment:
      - ME_CONFIG_MONGODB_SERVER=db
  db:
    image: mongo:4.0
    volumes:
      - ${PWD}/volumes/db:/data/db
  backend:
    image: node:12-alpine
    command: npm run dev
    working_dir: /app
    user: "1000"
    environment:
      - APP_ADDR=0.0.0.0
      - APP_PORT=4000
      - MONGO_URI=mongodb://db/db0
      - MONGO_URI_TEST=mongodb://db/db0_test
    ports:
      - 4000:4000
      - 4443:4443
    volumes:
      - /etc/passwd:/etc/passwd:ro
      - /home:/home
      - ${PWD}/backend:/app
  frontend:
    image: node:12-alpine
    command: npm run serve
    working_dir: /app
    user: "1000"
    environment:
      - HOST=0.0.0.0
      - PORT=4003
    ports:
      - 4003:4003
    volumes:
      - /etc/passwd:/etc/passwd:ro
      - /home:/home
      - ${PWD}/frontend:/app
